@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 420px;
    background: transparent;
    border: 2px solid #9b9b9b;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px 40px;
}


h1 {
    font-size: 36px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.input_container {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input_container input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input_container input::placeholder {
    color: #fff;
}

.input_container img {
    position: absolute;
    right: 24px;
    top: 20%;
    margin-top: 5px;
}

.input_container a {
    font-size: 16px;
    margin-left: 3px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
}

.input_container a:hover {
    text-decoration: underline;
}

.submit_button {
    width: 100%;
    height: 50px;
    background-color: #5100b5;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    margin-top: 24px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.submit_button:hover {
    background-color: #6109cb;
}

.register_link p {
    font-size: 16px;
    color: white;
    font-weight: 300;
}


.register_link {
    text-align: center;
    margin-top: 25px;
}

.register_link p a {
    font-size: 16px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.register_link p a:hover {
    text-decoration: underline;
}